@import "compass/css3";

.counter{
	font-family: 'Roboto', sans-serif;
	letter-spacing: .15em;
	font-size: 13px;
    font-weight: 700;
    padding-left: 15vw;
    padding-top: 30vh;

}

.vertical{
	transform: rotate(-90deg);
	padding-left: 10%;
		position: absolute;
		padding-top: 16vh;

}

p{
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	overflow-wrap: break-word;
	line-height: 25px;
}



.rightCopy{
	margin-left:1vw;
	margin-right: 1vw;
	padding-left: 58vw;
	/*display:inline-block;*/
	max-width: 25vw;
	/*height: 100vh;*/
	z-index: 99;
}

.name{
	line-height: 0px;
	font-size: 22px;
	font-weight: 400;
}

.buisness{
	font-family: 'Roboto', sans-serif;
	color:#b8bbbc;
	font-size: 13px;
	font-weight: 400;
	padding-bottom: 2vw;
}




.tall{
	width: 15vw;
    height: 48vw;
    object-fit: cover;
    position: relative;
   /* padding-top: 2vw;
    padding-left: 40vw;*/
    z-index: 1;

}

.small{
	/*width: 10vw;
	height: 10vw;*/
	padding: .5vw;
	object-fit: cover;
	justify-content: center;
	/*padding-top: 15vw;*/
	z-index: 1;
	overflow: hidden;
	float: bottom;
	object-position: 150%


}

/*GRID SETUP*/


.container{
	display: grid;
	height: 10vw;
	width: 50vw;
	grid-column-gap: .5vw;
	grid-row-gap: 1.5vw;
grid-template-rows: auto auto auto auto auto ;
  	grid-template-columns: auto auto auto auto auto ;
  margin: 3%;
  align-items: end;
}

.container-item{
	width: 7vw;
	height: 7vw;
margin: auto;
	z-index: 0;
	object-fit: cover;
	align-items: end;

}

.container-item-tall{
	width: 7vw;
	height: 30vw;
margin: auto;
	z-index: 0;
	object-fit: cover;
	align-items: end;

}


/*flexbox
.container-flex{
	z-index: 0;
	display: flex;
	flex-wrap: nowrap;
	height: 10vw;
	width: 50vw;
	justify-content: flex-start;
	position: absolute;
	align-items: flex-end;

	/*grid-column-gap: .5vw;
	grid-row-gap: 1.5vw;
	padding-top: 25vh;
  /*	grid-template-rows: auto auto auto auto auto ;
  	grid-template-columns: auto auto auto auto auto ;
  margin: 3%;
}

.container-item-flex{
	width: 11vw;
	height: 11vw;
margin: auto;
		z-index: 0;
			object-fit: cover;

}

.container-item-large-flex{
	width: 11vw;
	height: 40vw;
	margin: auto;
	z-index: 0;
	object-fit: cover;
}

*/